parameters:
    level: 9
    paths:
        - ../TTN
    excludePaths:
        - ../config
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
        - '#Cannot cast mixed to string.#'